.scores{
    background-color: beige;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
}

.title{
    font-weight: bold;
    font-size: larger;
}

.score img{
    width: 2em;
}

.scores-bottom{
    padding-top: 2em;
}